<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="ContactId" #ContactId="ngModel" [(ngModel)]="service.formData.ContactId">
   
<div class="form-group">
    <label>First Name</label>
    <input name ="FirstName" #FirstName = "ngModel"[(ngModel)] = "service.formData.FirstName" class="form-control" required>
     <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">This field is required</div>
</div>
    <div class="form-group">
        <label>Last Name</label>
        <input name ="LastName" #LastName = "ngModel"[(ngModel)] = "service.formData.LastName" class="form-control" required>
        <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">This field is required</div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input name ="Email" #Email = "ngModel"[(ngModel)] = "service.formData.Email" class="form-control" required>
        <div class="validation-error" *ngIf="Email.invalid && Email.touched">This field is required</div>
    </div>
    <div class="form-group">
        <label>Phone Number</label>
        <input name ="PhoneNumber" #PhoneNumber = "ngModel"[(ngModel)] = "service.formData.PhoneNumber" class="form-control" required>
        <div class="validation-error" *ngIf="PhoneNumber.invalid && PhoneNumber.touched">This field is required</div>
    </div>
    <div class="form-group">
        <label>Address</label>
        <input name ="Address" #Address = "ngModel"[(ngModel)] = "service.formData.Address" class="form-control" required>
        <div class="validation-error" *ngIf="Address.invalid && Address.touched">This field is required</div>
    </div>
    <div class="form-group">
        <label>City</label>
        <input name ="City" #City = "ngModel"[(ngModel)] = "service.formData.City" class="form-control" required>
        <div class="validation-error" *ngIf="City.invalid && City.touched">This field is required</div>
    </div>
    <div class="form-group">
        <label>State</label>
        <input name ="State" #State = "ngModel"[(ngModel)] = "service.formData.State" class="form-control" required>
        <div class="validation-error" *ngIf="State.invalid && State.touched">This field is required</div>
    </div>
    <div class="form-group">
        <label>Country</label>
        <input name ="Country" #Country = "ngModel"[(ngModel)] = "service.formData.Country" class="form-control" required>
        <div class="validation-error" *ngIf="Country.invalid && Country.touched">This field is required</div>
    </div>
    <div class="form-group">
        <label>PostalCode</label>
        <input name ="PostalCode" #PostalCode = "ngModel"[(ngModel)] = "service.formData.PostalCode" class="form-control" required>
        <div class="validation-error" *ngIf="PostalCode.invalid && PostalCode.touched">This field is required</div>
    </div>
    

<div class="form-group">
    <input  type="button" value="SUBMIT" [disabled]="form.invalid" (click)="onSubmit(form)"class="btn btn-lg btn-block">
    
   </div>
</form>
